{% extends "base.html" %}


{% block header_text %}Building Division{% endblock header_text %}

{% block main_content %}
<section>
    <p>
        If your permit is for activities entirely within <a href="https://www.yolocounty.org/government/general-government-departments/innovation-and-technology-services/geographical-information-system/use-gis">city limits</a>, and it is not an Evironmental Health permit, contact the city for your permit: <br>
        <a href="https://www.google.com/search?q=city+of+davis+CA">Davis</a>  |  <a href="https://www.google.com/search?q=city+of+west+sacramento+CA">West Sacramento </a>  |  <a href="https://www.google.com/search?q=city+of+winters+CA">Winters </a>  |  <a href="https://www.google.com/search?q=city+of+woodland+CA">Woodland</a>
    </p>
</section>

<section>
    <p>Monitor the progress of a <a href="/bp/permit" aria-disabled="true">permit, review, or inspection.</a></p>
</section>

<section class="bp_app_list">
    <p>Learn about or apply for a:</p>
    <ul>
        <li><a href="/bp/app/bldg">Building Permit</a> including residential, commercial, accessory, new, addition, or alteration.</li>
        <li><a href="/bp/app/demo">Demolition Permit</a> for any building or structure.</li>
        <li><a href="/bp/app/elc">Electrical Permit</a> including fire alarms, solar, batteries, EVCS, backup generators, and motor loads (such as well pumps).</li>
        <li><a href="/bp/app/fire">Fire Permit</a> for fire sprinkler systems.</li>
        <li><a href="/bp/app/flood">Flood Permit</a> for any development in a floodplain.</li>
        <li><a href="/bp/app/grading">Grading Permit</a> for any earthwork.</li>
        <li><a href="/bp/app/mch">Mechanical Permit</a> including HVAC.</li>
        <li><a href="/bp/app/plb">Plumbing Permit</a> including water heaters and fuel gas piping.</li>
        <li><a href="/bp/app/pool">Pool/Spa Permit</a> for any pool and/or spa, including private residential and public pools.</li>
    </ul>
</section>

<section>
    <p>Submit a request for:</p>
    <ul>
        <li><a href="/bp/insp_req">Address Requests</a></li>
        <li><a href="/bp/insp_req">Certicate of Occupancy, Temporary</a></li>
        <li><a href="/bp/insp_req">Certicate of Occupancy, Final</a></li>
        <li><a href="/bp/insp_req">Inspection Requests</a></li>
        <li><a href="/bp/insp_req">Permit Cancellation</a></li>
        <li><a href="/bp/insp_req">Permit Extension</a></li>
        <li><a href="/bp/insp_req">Permit Refund</a></li>
    </ul>
</section>
{% endblock main_content %}