<!DOCTYPE html>
<html lang="en">

{% load static %}

{% load humanize %} 
<!-- Humanize: |apnumber |intcomma |intword |naturalday |naturaltime |ordinal -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Scott Doolittle">
    <meta name="description" content="This is the html/css/javascript version of Yolo Builds.">
    
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block css %}  {% endblock css %}
    <link rel="icon" href="{% static 'Yolo Builds.ico' %}" type="image/x-icon">
    <script defer src="{% static 'htmx.min.js' %}"></script>
    
    <title>Yolo Builds{% if title %} - {{ title }} {% endif %}</title>   
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <header>

        <a id="MainLogo" href="/">
            <img 
            style="width:120px;height:80px;" 
            src="{% static 'yolobuilds_blue.png' %}" 
            alt="Yolo Builds logo and link to home">
        </a> 

        <h1>
            <p>{% block heading %}{% endblock heading %}</p>           
        </h1>
    
        <nav>
        <details id="MainMenu">
            <summary>Menu</summary >
            <a target="_blank" href="https://google.com">
                <button id="search">Search</button></a><br>
            <a target="_blank" href="https://google.com">
                <button id="recent">Recent</button></a><br>
            <a target="_blank" href="https://google.com">
                <button id="related">Related</button></a><br>
            <a target="_blank" href="https://yolo.maps.arcgis.com/apps/View/index.html?appid=a36499d6ec8f494ba6974de0ca9b95d0">
                <button id="gis_link" type="button">GIS</button></a><br>
            <a target="_blank" href="https://google.com">
                <button id="add">Add</button></a><br>
            <a target="_blank" href="https://google.com">
                <button id="edit">Edit</button></a><br>
            <a target="_blank" href="https://google.com">
                <button id="attachments">Files</button></a><br>
            <a target="_blank" href="https://google.com">
                <button id="print_docs">Print</button></a><br>
            <a target="_blank" href="https://google.com">
                <button id="sire">SIRE</button></a><br>
            <a target="_blank" href="https://google.com">
                <button id="calc">Calc</button></a><br>

            {% if user.is_staff %}
            <a target="_blank" href="admin/">
                <button id="config">Config.</button></a><br>
            {% endif %}

            {% if user.is_authenticated %}
            <a target="_blank" href="profile/">
                <button id="settings">Profile</button></a><br>
            <a target="_blank" href="profile/logout/">
                <button id="settings">Logout</button></a><br>
            {% else %}
            <a target="_blank" href="profile/register/">
                <button id="settings">Register</button></a><br>
            <a target="_blank" href="profile/login/">
                <button id="settings">Login</button></a><br>
            {% endif %}
        </details>
        </nav>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{% if message.tags %} 
                        class="{{ message.tags }}"
                        {% endif %}>
                        {{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %} 

    </header>

    <main>

        {% if intro %}
            <section>
                <p>{{ intro }}</p>
            </section>
        {% endif %}
 
        {% block main_content %}{% endblock main_content %}
    
    </main>

    <!-- <footer>&copy; 2023 Scott Doolittle</footer> -->

</body>
</html>