{% extends "layout.html" %}

{% load crispy_forms_tags %}

{% block heading %}{{ heading }}{% endblock heading %}


{% block main_content %}

    {% if form.errors %}
        <section>
            <p>Your username and password didn't match. Please try again.</p>
        </section>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <section>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

            <!-- {{ user.username }}
            {{ user.first_name }}
            {{ user.last_name }} -->


            <!-- <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table> -->

        {# Assumes you set up the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
    </section>
    
{% endblock main_content %}







{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

